modules = ["nodejs-20", "bash", "web", "postgresql-16", "python-base-3.13"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["bash", "-c", "npm run build:prod"]
run = ["bash", "-c", "npm run start"]

[userenv]

[userenv.shared]
MIDTRANS_IS_PRODUCTION = "true"
TRUST_PROXY = "1"
NEXTAUTH_TRUST_HOST = "1"
RAYON_NUM_THREADS = "1"
NEXTAUTH_SECRET = "H0uN5mFUuA4k/G0n28jboFXNxo5L8t9qT/H0rhqe/SM="
NEXTAUTH_URL = "https://e8731fdc-8e55-420e-a907-8a0e1b91bba3-00-2vsmdkchde21q.pike.replit.dev"
APP_URL = "https://e8731fdc-8e55-420e-a907-8a0e1b91bba3-00-2vsmdkchde21q.pike.replit.dev"
NEXTAUTH_URL_INTERNAL = "http://localhost:5000"
SMTP_HOST = "mail.jobenapp.cloud"
SMTP_PORT = "465"
SMTP_USER = "admin@jobenapp.cloud"
GOOGLE_SITE_VERIFICATION = "google-site-verification=UeqxKkcMuSzc8ZuH1oD-9ihH7A62Rsbf68Zr8CM86sY"
QRIS_ADMIN_WA = "081460081343"
MIDTRANS_CLIENT_KEY = "Mid-client-90bGHR0yjUxazY_b"

[userenv.production]
NODE_ENV = "production"
