modules = ["nodejs-20", "bash", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["bash", "-c", "npm run build:prod"]
run = ["bash", "-c", "npm run start"]

[userenv]

[userenv.shared]
MIDTRANS_IS_PRODUCTION = "false"
TRUST_PROXY = "1"
NODE_ENV = "development"
NEXTAUTH_TRUST_HOST = "1"
RAYON_NUM_THREADS = "1"
NEXTAUTH_SECRET = "H0uN5mFUuA4k/G0n28jboFXNxo5L8t9qT/H0rhqe/SM="
NEXTAUTH_URL = "https://55cec133-fb00-4206-a25c-184cce575dfe-00-1md76vv8rljp8.sisko.replit.dev"
APP_URL = "https://55cec133-fb00-4206-a25c-184cce575dfe-00-1md76vv8rljp8.sisko.replit.dev"
NEXTAUTH_URL_INTERNAL = "http://localhost:5000"
