modules = ["nodejs-20", "web", "bash"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd misi-pintar && npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
MIDTRANS_IS_PRODUCTION = "false"
TRUST_PROXY = "1"
NEXTAUTH_URL = "https://ae1e2170-773e-49c2-b97b-30264ccbe2ad-00-34otty73qmdei.sisko.replit.dev"
APP_URL = "https://ae1e2170-773e-49c2-b97b-30264ccbe2ad-00-34otty73qmdei.sisko.replit.dev"
NEXTAUTH_URL_INTERNAL = "http://localhost:5000"
